@import "tailwindcss";

/* En tu App.css */
.carousel .slide {
  transition: transform 0.5s ease-in-out;
}

/* Agrega esto a tu archivo CSS */
.filter-button {
  transition: all 0.2s ease;
  min-width: 100px;
  text-align: center;
}

.filter-button.active {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1);
}